__pycache__/
*.pyc
*.pyo
.venv/

# Büyük model dosyaları
beyin_bt_modeli.h5
beyin_bt_modeli.keras
AiModels/backups/
AiModels/feedback_dataset/
AiModels/training_logs.jsonl
UserProfile
feedback_dataset

uploads
# Ortam değişkenleri
.env
